body{
    background:rgb(58, 85, 46);
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
}



.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;

}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    /*background-color: #eee;*/
  }

  .txt_field span::before{
      content: '';
      position: absolute;
      top: 40px;
      left:0;
      width: 0;
      height: 2px;
      background-color: #268442;
      transition: .5s;
  }

  .txt_field input:focus ~label,
  .txt_field input:valid ~label{
      top:-5px;
      color: #268442;
  }

  .txt_field input:focus ~span::before,
  .txt_field input:valid ~span::before{
    width: 100%;  

}

.submit{
   display: flex;
    border: 1px solid black;
    width: 33%;
    left: 31%;
    height: 35px;
    border-radius: 15px;
   background: #268442;
  
}

form .submit{
    border: 1px solid black;
}

.submit input{
    color: white;
}

.submit:hover{
    opacity: 0.8;

}

.signUp{
    width: 50%;
    left: 28%;
}

form .signUp{
    border-bottom: hidden;
}

form .pozGeslo{
    border-bottom: hidden;
}

.pozGeslo a{
    color: black;
    text-decoration: none;
    margin-left: 60px;
    border-bottom: 1px solid black;
}

.pozGeslo a:hover{
    color: #adadad;
}

.message{
    display: grid;
    place-content: center;
}