

table{
    margin: 20px 20% 0 20%;
    background-color: white;
    border-collapse: collapse;
}

.naslov{
    text-align: center;
    
}

.col{
    width: 30%;
    border-bottom: 1px solid black;
}

.prikaz td{
    height: 30px;
    border-bottom: 1px solid lightgrey;
}

.col1{
    font-weight: 600;
}

.first{
    height: 35px;
    font-weight: 600;
    color: white;
    background-color: #313332;
}

.center1{
    padding-left: 4%;
}



.prikaz:hover td{
    background:  rgb(72, 163, 216);
}



.filter-row{
    border: 1px solid black;
    width: 8%;
    height: 40px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background-color:seagreen;
}

.center{
    display: grid;
    place-items: center;
    margin-top: 40px;
}

select{
    border-radius: 10px;
    width: 100px;
    text-align: center;
}